/* 공통 */

#wrap { width:100%; height:auto; min-height:500px; margin:auto; }

h2 { text-transform: uppercase; font-size:30px; }
h2 > span { color:var(--color-main);}

#headBox  { width:100%; margin:auto; background-color:var(--color-white);}
#adverBox { width:100%; margin:auto; }
#iconBox { width:100%; margin:auto; background-color:#f6f8ff;}
#conBox { width:100%; margin:auto; background-color:var(--color-white);}
#reservationBox { width:100%; margin:auto;}
#newsBox { width:100%; margin:auto; background-color:var(--color-white);}
#footBox { width:100%; margin:auto; background-color:var(--color-gray);}