/* newsBox_mobile.css / design 460px */

@media screen and (max-width:480px) {

    /* newsBox */
    #newsBox { position: relative; height:1500px; padding:60px 10px; box-sizing: border-box; }

    #newsBox > h2 { text-align: center; margin-bottom:60px;  }

    .news_list { 
        margin:auto;
        width:100%; height:20px; }

    .news_list > ul { display:flex; width:100%; height:100%; }

    .news_list > ul > li { 
        width:25%; height:100%; 
        border-right:1px solid var(--color-dark_gray); box-sizing: border-box; }

    .news_list > ul > li:last-child { border-right:0; }

    .news_list > ul > li:hover { font-weight: bold;}

    .news_list a { 
        display:block; 
        width: 100%; height: 100%; 
        font-size:12px; text-align: center; line-height:20px; }

    .news_area { width: 100%; height:auto; margin-top:30px;   }

    .news_area > ul { width: 100%; height: 100%; }

    .news_area > ul > li { 
        overflow: hidden;
        position: relative; 
        width: 100%; height:280px; margin-bottom:20px; }

    .news_area li div { width: 100%; height: 100%; transition: all 500ms linear; }

    .news_area li:hover div { transform: scale(1.1);}

    .news_area dl { 
        position: absolute; bottom: 0; 
        padding:4vw/*20px*/; box-sizing: border-box; 
        width: 100%; height:90px; min-width:100px; 
        background-color: rgba(0, 0, 0, 0.7); }

    .news_area dt { font-size:14px; margin-bottom:20px; color:var(--color-white); }
    .news_area dd { font-size:14px;  color:var(--color-white); }

    .news_area li div { 
        background-size: cover;
        background-repeat: no-repeat; }

    .news_img01 { background-image:url(../../../img/image/news_image_01.png);}
    .news_img02 { background-image:url(../../../img/image/news_image_02.png);}
    .news_img03 { background-image:url(../../../img/image/news_image_03.png);}
    .news_img04 { background-image:url(../../../img/image/news_image_04.png);}
}