/* conBox_tablet.css / design 940px */

@media screen and (min-width:481px) and (max-width:1024px) {

     /* conBox */
     #conBox { height:940px; padding:90px 42px 0; box-sizing: border-box;  }

     #conBox > h2 { margin:auto; text-align: center; margin-top:10px; margin-bottom:50px;}
 
     .intro_wrap { width:100%; height:auto; }
 
     .korail_img {
         opacity: 0; transform: translateY(-50px); transition: all 700ms linear;
         width:100%; height:270px; margin:auto; 
         background-image: url(../../../img/image/con_img.png);
         background-position: 50% 50%;
         background-repeat: no-repeat;
         background-size: contain; }
     .korail_img.action { opacity: 1; transform: translateY(0);}
     
 
     .korail_p { 
         opacity: 0; transform: translateX(-200px); transition: all 1000ms linear 500ms;
         width:100%; height:auto; margin:auto; margin-top:20px; }
 
     .korail_p.action { opacity: 1; transform: translateX(0);}
 
     .korail_p > dl { width: 100%; height: 100%; padding:20px 0 80px; box-sizing: border-box; }
 
     .korail_p > dl > dt { font-size:22px; text-align: center; margin-bottom:40px;  }
 
     .korail_p  dd { text-align: center; font-size:15px; line-height:32px; }
 
     .korail_p  dd > span { font-weight:bold;}
 
     .more_button { 
         overflow: hidden;
         width:110px; height:40px; margin:auto; 
         font-size:15px; text-align: center;
         line-height:40px; 
         border:1px solid var(--color-black);}
 
     .more_button > a { position: relative; display:block; width: 100%; height: 100%; }
 
     #wrap .more_button a:hover,
     .more_button a:focus { color:var(--color-white); }
     .more_button a:before { 
          content:" "; display: block; z-index:-1;
          position: absolute; top:50%; left:50%; transform:translate(-50%, -50%) rotate(45deg) ;
          width:120%; height:0; background-color: var(--color-main); transition: all 1s; }
 
     .more_button a:hover:before { height:300%; } 

}
